/*Agrega los selectores aquí */

/*Agrega los selectores aquí */
.card{
  background-color: blue;
}
.card1{
  color: brown;
}
.card2{
  color: aqua;
}

/* Ignora esto, por ahora */
* {
  font-size: 1.5rem;
  margin-bottom: 10px;
}